.circular-progress-primary {
  display: inline-block;
  width: 31px;
  height: 31px;
}

.circular-progress-primary:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px;
  border-radius: 50%;
  border: 3px solid #283e59;
  border-color: #283e59 transparent #283e59 transparent;
  animation: circular-progress-primary 1.2s linear infinite;
}

@keyframes circular-progress-primary {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circular-progress-secondary {
  display: inline-block;
  width: 31px;
  height: 31px;
}

.circular-progress-secondary:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: circular-progress-secondary 1.2s linear infinite;
}

@keyframes circular-progress-secondary {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}